<h1>MyPages#about</h1>
<p>We've learned about <a href="https://www.w3schools.com/">W3SCHOOLS</a>, <a href="https://www.reddit.com/r/webdev/comments/3ibw8o/eli5_what_is_agile_development/">Agile Web Development</a>, <a href="http://guides.rubyonrails.org/">Rails Guides</a>, and <a href="https://www.railstutorial.org/book">railstutorial</a></p>
